@import 'tailwindcss';

.toolbar-view {
    /* 点击可拖动 */
    -webkit-app-region: drag;
    user-select: none;
}

.toolbar-tab-button {
    -webkit-app-region: no-drag;
}

.toolbar-btn-button-active::before {
    /* 左侧底部内凹圆角 */
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 0;
    left: -12px;
    background: radial-gradient(circle at bottom right, transparent 0%, transparent 70%, white 71%, white 100%);
    rotate: 180deg;
}

.toolbar-btn-button-active::after {
    /* 右侧底部内凹圆角 */
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 0;
    right: -12px;
    background: radial-gradient(circle at bottom left, transparent 0%, transparent 70%, white 0%, white 100%);
    rotate: 180deg;
}